.App {
  /* text-align: center; */
}
/* @font-face {
  font-family: 'Hiragino Kaku Gothic Std';
  src: url(./fonts/Hiragino.woff) 
} */
@font-face {
  font-family: 'Hiragino Kaku Gothic Std';
  src: local('Hiragino Kaku Gothic Std') url(./fonts/Hiragino\ Sans\ CNS\ W3.otf) format('opentype')
}
@font-face {
  font-family: 'Hiragino Kaku Gothic ';
  src: url(./fonts/Hiragino\ Sans\ CNS\ W3.woff) format('woff');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W0';
  src: url(./fonts/ヒラギノ角ゴシック\ W0.ttc) format('');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W1';
  src: url(./fonts/ヒラギノ角ゴシック\ W1.ttc) format('');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W2';
  src: url(./fonts/ヒラギノ角ゴシック\ W2.ttc) format('');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W3';
  src: url(./fonts/ヒラギノ角ゴシック\ W3.ttc) format('');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W4';
  src: url(./fonts/ヒラギノ角ゴシック\ W4.ttc) format('');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W5';
  src: url(./fonts/ヒラギノ角ゴシック\ W5.ttc) format('');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W6';
  src: url(./fonts/ヒラギノ角ゴシック\ W6.ttc) format('');
}

@font-face {
  font-family: 'ヒラギノ角ゴ ProN W7';
  src: url(./fonts/ヒラギノ角ゴシック\ W7.ttc) format('');
}
@font-face {
  font-family: 'ヒラギノ角ゴ ProN W8';
  src: url(./fonts/ヒラギノ角ゴシック\ W8.ttc) format('');
}
/* *{
  font-family: 'Hiragino Kaku Gothic ProN';
font-style: normal;

} */
.navbar{
 width: 100%;
 /* background-color: aqua;  */
 height: 160px;
 display: flex;
 align-items: center;
 position: fixed;
 z-index: 2;

}
.posr{
  position: relative;
}
.navbar-logo{
  width: 60px;
  height: 60px;
  /* margin-top: 60px; */
  margin-left: 70px;
}

.navLinks{
  margin-right: 10px;
margin-left: auto;
display: flex;
height: 100%;
align-items: center;

}

.navBtn{
  /* background-color: aqua; */
  margin-right: 40px;
  font-weight: 600;
font-size: 26px;
line-height: 39px;
padding: 5px 5px;
text-decoration: none;
color: black;
text-align: center;
letter-spacing: 0.05em;
}
.footer-cont{
height: 150px;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
}


.home-container{
  /* width: 100%; */
  /* background-color: brown; */
  min-height: 100vh;
  /* position: relative; */
  margin-top: 42px;
  /* overflow-x: hidden; */
display: flex;
flex-direction: column;
/* justify-content: center; */
align-items: center;
}
.home-top{
  position: relative;
  /* height: 100vh; */
  /* height: 1100px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-top-newcont{
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.homebg1{
  width:728px;
  position: relative;
  margin-left: 55px;
  /* right: -120px; */
  /* top:-180px; */
  /* max-height: 120vh; */
}
/*left顧及一點RWD*/
.homeValue{
  /* position: absolute;
  top:33vh;
  left: 14vw; */
  margin-left: 45px;
  margin-top: 160px;

}
/*幫title加了白底 免得跟背景圖重疊*/
.homeTitle{
background-color: #fff;
margin-bottom: 40px;
}
.homeSlogan-text{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 54px;
letter-spacing: 0.05em;

color: #2B2B2B;
}
.homeSlogan{
  

}
.go-btn{
  display: inline-block;
  margin-top: 50px;
  text-decoration: none;
  border: #000 6px solid;
  padding: 8px 12px;
}
.down-btn{
  position: absolute;
  top: 90vh;
  left: 30px;
}
.home-content{
  max-width: 1440px;
  margin: 210px 80px 80px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

}
.section-container{
  width: 100%;
  /* background-color: aqua; */
  margin-bottom: 150px;
}
.section-title{
  display: flex;
align-items: flex-end;
}
.section-maintype{
  font-family: 'ヒラギノ角ゴ ProN W8';
font-style: normal;
font-weight: 800;
font-size: 60px;
/* line-height: 90px; */
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;

}
.section-english{
  font-family: 'ヒラギノ角ゴ ProN W8';
font-style: normal;
font-weight: 800;
font-size: 30px;
line-height: 58px;
letter-spacing: 0.05em;
margin-left: 18px;
}
.section-feature{
margin-top: 10px;
font-family: 'ヒラギノ角ゴ ProN W8';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 54px;
/* identical to box height */

letter-spacing: 0.05em;

color: #2A2A2A;
}
.section-each-img{
  /* width: 100px; */
}
.section-feature-list{
  display: flex;
  margin-top: 50px;
  /* flex:1 1 1 1; */
  /* background-color: #2B2B2B; */
  justify-content: space-between;
}
.section-each-type{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-each-label{
  margin-top: 50px;
}
.big-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personality-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1220px;
  width: 90%;
  /* height: 50px; */
  /* background-color: aqua; */

}
.personality-top{
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  height: 813px;
  position: relative;
 
}
.personality-top-left{
flex:1;
display: flex;
flex-direction: column;
justify-content: flex-end;

}
.personality-top-right{
max-width: 546px;
width: 100%;
height: 100%;
/* background-color: azure; */
position: relative;
}

.personality-top-image{
  position: absolute;
  bottom: 0px;
}
.pbg{
  width: 100%;
}
.personality-top-character{
/* bottom: 0px; */
transform: translateX(-50%);
left: 50%;

}
.personality-top-title{
  display: flex;
align-items: flex-end;
}
.personality-top-type{
  font-family: 'ヒラギノ角ゴ ProN W8';
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  /* line-height: 90px; */
  /* identical to box height */
  
  letter-spacing: 0.05em;
  
  color: #000000;
}
.personality-top-type-chin{
  font-family: 'ヒラギノ角ゴ ProN W8';
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 63px;
  margin-left: 30px;
  /* identical to box height */
  
  letter-spacing: 0.05em;
  
  color: #000000;
}
/* 
.personality-top-subtitle{
  font-family: 'Hiragino Kaku Gothic Std';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 54px;


letter-spacing: 0.05em;

color: #954FFF;
} */

.personality-top-content{
  width: 577px;
}
.personality-top-content div{
  margin-top: 20px;
  font-family: 'ヒラギノ角ゴ ProN W6';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 175%;
/* or 44px */

letter-spacing: 0.02em;

color: #000000;

}

.letterMeans{
  /* min-height: 100vh; */
  margin-top: 158px;
  width: 100%;
  /* display: flex; */
  /* height: 813px */
 
}

.personality-section-title{
  font-family: 'ヒラギノ角ゴ ProN W8';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 54px;
/* identical to box height */

letter-spacing: 0.05em;

color: #000000;
}
.letterMeans-content{
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.meansCard-cont{
  width: 200px;
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.meansCard-chinese{
  font-family: 'ヒラギノ角ゴ ProN W8';
font-style: normal;
font-weight: 800;
font-size: 36px;
line-height: 175%;
color: #000000;
}

.meansCard-english{
  font-family: 'ヒラギノ角ゴ ProN W6';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 175%;
}

.cognitive{
  /* min-height: 100vh; */
  margin-top: 70px;
  width: 100%;
  /* display: flex; */
  height: 813px;
  margin-bottom: 100px;
  
 
}

.cognition-item-title{
  font-family: 'ヒラギノ角ゴ ProN W6';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}
.cognition-item-text{
  font-family: 'ヒラギノ角ゴ ProN W6';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 175%;
/* or 44px */

letter-spacing: 0.02em;
margin-top: 25px;
color: #000000;
}
.footer-icon{
/* margin-left: auto; */
margin-right: 25px;
}
.w250-cont{
width: 250px;
height: 60px;
/* background-color: aquamarine; */
display: flex;
align-items: center;
}
.article-slogan{
  width: 378px;
}
.article-downBtn{
  width: 50px;
  margin-bottom: 173px;
  margin-top: 40px;
}
.article-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 90%;
  /* height: 50px; */
  /* background-color: aqua; */
  position: relative;

}
.bottom-line{
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom: #000 solid 3px;
  border-top: #000 solid 3px;
  border-radius: 5px;
}
.article-content-container{
  width: 100%;
  margin-top: 150px;
  display: flex;
}
.articleList{
  width: 658px;
min-height: 100px;
/* background-color: aqua; */
}
.articleCard-cont{
display: flex;
/* width: 100%; */
margin-bottom: 50px;
cursor: pointer;
}
.articleCard-textblock{
width: 418px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.articleCard-title{
  font-family: 'ヒラギノ角ゴ ProN W8';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  /* line-height: 38px; */
letter-spacing: 0.05em;
}
.articleCard-description{
  /* margin-top: 25px; */
width: 418px;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
overflow: hidden;
text-overflow: ellipsis;
font-family: 'ヒラギノ角ゴ ProN W6';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
letter-spacing: 0.05em;
color: #666666;
}
.articleCard-img{
  margin-left: auto;
  width: 200px;
  height: 200px;
  background-color: #2A2A2A;
}
.articleCard-date-tags{
  display: flex;
  /* margin-top: 25px; */
  align-items: center;
  
}

.articleCard-date{
  font-family: 'ヒラギノ角ゴ ProN W6';
font-style: normal;
font-weight: 600;
font-size: 18px;
letter-spacing: 0.05em;

color: #666666;

}
.articleCard-tags{
  color: #fff;
  height: 25px;
  left: 214px;
  top: 1184px;
  width: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #666666;
  border-radius: 12.5px;
  margin-left: 15px;
  font-family: 'ヒラギノ角ゴ ProN W6';
  
}
.article-tags-cont{
  position: sticky;
  top:180px;
 width: 393px;
 height: 286px;
 margin-left: auto;
}
.article-tags-title{
  font-family: 'ヒラギノ角ゴ ProN W8';
font-style: normal;
font-weight: 800;
font-size: 25px;
line-height: 38px;
/* identical to box height */
margin-bottom: 30px;
letter-spacing: 0.05em;

color: #000000;
}
.article-tags{
  /* display: flex; */
  /* flex-wrap: wrap; */

 margin-left: auto;
}
.taglist-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.article-each-tag{
  width: 84px;
  height: 36px;
  border: #000 3px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'ヒラギノ角ゴ ProN W8';
font-style: normal;
font-weight: 800;
font-size: 22px;
line-height: 33px;
/* identical to box height */

text-align: center;
letter-spacing: 0.05em;
cursor: pointer;
color: #000000;

}
.article-each-active{
  
  color: #fff;
  background-color: #000;
}
